In [34]:
# Importing

import pandas as pd
import json, requests
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import numpy as np
from sklearn.pipeline import make_pipeline
import seaborn as sns; sns.set()
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [35]:
# Reading the ONS csv, we need to make some modifications to just bring in the data we want

df=pd.read_csv("https://raw.githubusercontent.com/joesellis/joesellis.github.io/main/availability2.csv", skiprows =2,encoding='latin-1')
df

     Unnamed: 0 Unnamed: 1  ... 17 Dec 2021 - 20 Dec 2021 Unnamed: 10
0         Total       None  ...                     1.66%         NaN
1         Total        Low  ...                     7.08%         NaN
2         Total     Medium  ...                    39.70%         NaN
3         Total       High  ...                    51.56%         NaN
4          Beer       None  ...                     0.39%         NaN
...         ...        ...  ...                       ...         ...
1243        NaN        NaN  ...                       NaN         NaN
1244        NaN        NaN  ...                       NaN         NaN
1245        NaN        NaN  ...                       NaN         NaN
1246        NaN        NaN  ...                       NaN         NaN
1247        NaN        NaN  ...                       NaN         NaN

[1248 rows x 11 columns]

In [36]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', '29 Oct 2021 - 1 Nov 2021',
       '5 Nov 2021 - 8 Nov 2021', '12 Nov 2021 - 15 Nov 2021',
       '19 Nov 2021 - 22 Nov 2021', '26 Nov 2021 - 29 Nov 2021',
       '3 Dec 2021 - 6 Dec 2021', '10 Dec 2021 - 13 Dec 2021',
       '17 Dec 2021 - 20 Dec 2021', 'Unnamed: 10'],
      dtype='object')

In [37]:
# Renaming columns

df = df.rename(columns={"Unnamed: 0": "Product", "Unnamed: 1":"Availability"})

In [38]:
df = df.drop(columns = ['Unnamed: 10'])

df = df.dropna()

In [39]:
df

              Product  ... 17 Dec 2021 - 20 Dec 2021
0               Total  ...                     1.66%
1               Total  ...                     7.08%
2               Total  ...                    39.70%
3               Total  ...                    51.56%
4                Beer  ...                     0.39%
..                ...  ...                       ...
91         Toothpaste  ...                    53.67%
92  Washing up liquid  ...                     0.77%
93  Washing up liquid  ...                     6.18%
94  Washing up liquid  ...                    33.59%
95  Washing up liquid  ...                    59.46%

[96 rows x 10 columns]

In [40]:
# Melting the columns into one so we can make the chart interactive.

df2 = df.melt(id_vars=['Product', 'Availability'], 
value_vars=['29 Oct 2021 - 1 Nov 2021',
       '5 Nov 2021 - 8 Nov 2021', '12 Nov 2021 - 15 Nov 2021',
       '19 Nov 2021 - 22 Nov 2021', '26 Nov 2021 - 29 Nov 2021',
       '3 Dec 2021 - 6 Dec 2021', '10 Dec 2021 - 13 Dec 2021',
       '17 Dec 2021 - 20 Dec 2021'], var_name='Date', 
value_name='Value')

In [41]:
df2

               Product Availability                       Date   Value
0                Total         None   29 Oct 2021 - 1 Nov 2021   2.18%
1                Total          Low   29 Oct 2021 - 1 Nov 2021   8.33%
2                Total       Medium   29 Oct 2021 - 1 Nov 2021  35.44%
3                Total         High   29 Oct 2021 - 1 Nov 2021  54.05%
4                 Beer         None   29 Oct 2021 - 1 Nov 2021   0.78%
..                 ...          ...                        ...     ...
763         Toothpaste         High  17 Dec 2021 - 20 Dec 2021  53.67%
764  Washing up liquid         None  17 Dec 2021 - 20 Dec 2021   0.77%
765  Washing up liquid          Low  17 Dec 2021 - 20 Dec 2021   6.18%
766  Washing up liquid       Medium  17 Dec 2021 - 20 Dec 2021  33.59%
767  Washing up liquid         High  17 Dec 2021 - 20 Dec 2021  59.46%

[768 rows x 4 columns]

In [42]:
# Turning the value column into quantitative data for use in vega lite.

df2['Value'] = df2['Value'].str.rstrip('%').astype('float')

In [43]:
df2

               Product Availability                       Date  Value
0                Total         None   29 Oct 2021 - 1 Nov 2021   2.18
1                Total          Low   29 Oct 2021 - 1 Nov 2021   8.33
2                Total       Medium   29 Oct 2021 - 1 Nov 2021  35.44
3                Total         High   29 Oct 2021 - 1 Nov 2021  54.05
4                 Beer         None   29 Oct 2021 - 1 Nov 2021   0.78
..                 ...          ...                        ...    ...
763         Toothpaste         High  17 Dec 2021 - 20 Dec 2021  53.67
764  Washing up liquid         None  17 Dec 2021 - 20 Dec 2021   0.77
765  Washing up liquid          Low  17 Dec 2021 - 20 Dec 2021   6.18
766  Washing up liquid       Medium  17 Dec 2021 - 20 Dec 2021  33.59
767  Washing up liquid         High  17 Dec 2021 - 20 Dec 2021  59.46

[768 rows x 4 columns]

In [44]:
# Export to csv

df2.to_csv("proj_food4.csv",encoding = 'utf-8', index=False)